<div class="row">
    <table class="table table-striped">
        <thead >
            <tr>
                <th class="text-center">Business Id</th>
                <th class="text-center">Fullname</th>
                <th class="text-center">Email</th>
                <th class="text-center">Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of persons">
                <td>
                    {{p.businessEntityId}}
                </td>
                <td>
                    <a routerLink="/detail/{{p.businessEntityId}}">{{p.fullName}}</a>

                </td>
                <td>{{p.email}}</td>
                <td>{{p.phoneNumber}}</td>
            </tr>
        </tbody>
        
    </table>
</div>